__pycache__
output/
*.swp
.vscode/settings.json
code/abstract_entities.json
code/deprecated_entities.json
code/entity_attributes.json
code/entity_definitions.json
code/entity_where_clauses.json
code/examples_by_type.json
code/IFC.exp
code/pset_definitions.json
code/type_values.json
.vscode/launch.json
