{% extends "main.html" %}
{% block pagecontent %}

<h1>Annex A Computer interpretable listings</h1>

<p>
    This annex contains a listing of the complete schema combining all definitions of clauses 5, 6, 7, and 8 without comments or other explanatory text. These listings are available in computer-interpretable form that may be parsed by computer.
</p>
<p>
    Official schema publications for this release are at the following URLs:
</p>

<ul>
    <li>
        <a href="annex-a-express.html">IFC EXPRESS long form schema</a>
    </li>
    <li>
        <a href="annex-a-psd.zip">IFC property and quantity set definition XML files</a>
    </li>
</ul>
{% endblock %}
