{% extends "main.html" %}
{% block pagecontent %}

<h1>Annex E<br>
<span style="font-weight:lighter">(informative)</span><br>
<br>
Examples</h1>

<h2>{{ number }} - {{ title }}</h2>

<h2>
    Example overview
</h2>

{{ content | safe }}

{% if images %}
<h2>
    Images
</h2>
{% endif %}

<ul class="thumbnails">
    {% for image in images %}
    <li><figure><a href="{{ image }}"><img src="{{ image }}" /></a></figure></li>
    {% endfor %}
</ul>

<h2>
    IFC-SPF source
</h2>

<pre><code class="language-step21 hljs">{{ code }}</code></pre>
{% endblock %}
