{% extends "main.html" %}
{% block pagecontent %}
<h2>{{ number }} {{ title }}</h2>

{{ content | safe }}

<ol class="referenced-list">
    {% for sub in subs recursive -%}
    <li{% if sub.number %} number="{{ sub.number }}"{% endif %}>
        {% if sub.url %}
        <a href="{{ sub.url }}">
        {% endif %}
            {{ sub.text }}
        {% if sub.url %}
        </a>
        {% endif %}

        {% if sub.children %}
        <ol class="referenced-list">
        {{ loop(sub.children) }}
        </ol>
        {% endif %}
    </li>
    {%- endfor %}
</ol>
{% endblock %}
