{% extends "main.html" %}
{% block pagecontent %}
<h2>{{ number }} {{ title }}</h2>

{{ content | safe }}

{% if subs %}
<ol class="referenced-list">
    {% for item in subs recursive -%}
    <li{% if item.number %} number="{{ item.number }}"{% endif %}>
        {% if item.url %}
        <a href="{{ item.url }}">
        {% endif %}
            {{ item.text or item.name }}
        {% if item.url %}
        </a>
        {% endif %}

        {% if item.children %}
        <ol class="referenced-list">
        {{ loop(item.children) }}
        </ol>
        {% endif %}
    </li>
    {%- endfor %}
</ol>
{% endif %}
{% endblock %}
