{% extends "main.html" %}
{% block pagecontent %}

<h2>{{ number }} {{ entity}}</h2>

<div class="col-sm-12">
    <div class="card fluid shadowed">
        <p>
            <a class='button primary' style="float: right;" href='https://github.com/buildingSMART/IFC4.3.x-development/blob/master/{{ path }}'><span class="icon-edit inverse"></span> Edit on Github</a>
            <small><span id='contributors'></span><br /><span id='last-change'></span></small>
        </p>
    </div>
</div>

{% if deprecated %}
<mark class='dont'>DEPRECATED</mark> This definition may be imported, but shall not be exported by applications
{% endif %}

<h3>{{ number }}{% if number %}.1{% endif %} Semantic definition</h3>

{{ content | safe }}

{% if changelog %}
<h3>
    Changelog
</h3>
<div>
    {% for section in changelog %}
    <h4>
        {{ section.name }}
    </h4>
    <table class="striped changelog">
        <thead>
            <tr>
                <th>Type</th>
                <th>Location</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for change in section.changes %}
            <tr>
                <td data-label="Type">
                    {% if change.is_addition %}<i data-feather="plus-square"></i>{% endif %}
                    {% if change.is_deletion %}<i data-feather="x-square"></i>{% endif %}
                    {% if change.is_modification %}<i data-feather="edit"></i>{% endif %}
                </td>
                <td data-label="Location">{{ change.what_changed }}</td>
                <td data-label="Description">{{ change.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
