{% extends "main.html" %}
{% block pagecontent %}

<h1>{{ number }} {{ entity}}</h1>

{% if is_deprecated %}
<div class="row">
    <div class="card fluid error">
        <p>
            <mark class="secondary">DEPRECATED</mark> This definition may be imported, but shall not be exported by applications
        </p>
    </div>
</div>
{% endif %}
{% if is_abstract %}
<div class="row">
    <div class="card fluid warning">
        <p>
            <mark class="secondary">ABSTRACT</mark> This definition may not be instantiated
        </p>
    </div>
</div>
{% endif %}

<h2>
    {{ definition_number }} Semantic definition
</h2>

{{ definition | safe }}

{% if entity_inheritance %}
<h2>
    {{ entity_inheritance.number }} Entity inheritance
</h2>
<ol class="tier">
{% for tier in entity_inheritance.graph %}
    <li>
        <i data-feather="arrow-up-circle"></i>
        <ul class="classes">
        {% for class in tier %}
            <li class="{% if class.is_abstract %}abstract{% endif %} {% if class.is_deprecated %}deprecated{% endif %} {% if class.is_current %}current{% endif %} {% if class.is_ancestor %}ancestor{% endif %}">{{ class.name }}</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ol>
{% endif %}

{% if attributes %}
<h2>
    {{ attributes.number }} Attributes
</h2>
<!-- <a class="button primary hide-inverse"><i data-feather="eye-off"></i> Hide inverse</a> -->
<table class="striped grouped attributes">
    <colgroup>
       <col style="width: 20px;" />
       <col>
       <col>
       <col>
    </colgroup>
    <thead>
        <tr>
            <th>#</th>
            <th>Attribute</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for group in attributes.groups %}
        {% if group.is_inherited %}
        <tr class="group-inherited">
        {% else %}
        <tr class="group">
        {% endif %}
            <td colspan="4">
                {% if group.is_inherited %}<mark>Inherited</mark>{% endif %}
                {{ group.name }}
                <small>({{ group.total_attributes}})</small>
            </td>
        </tr>
        {% for attribute in group.attributes %}
        <tr{% if group.is_inherited %} class="inherited"{% endif %}>
            <td data-label="#">{{ attribute.number }}</td>
            <td data-label="Name">
                {% if attribute.is_inverse %}
                <em>{{ attribute.name }}</em>
                {% else %}
                {{ attribute.name }}
                {% endif %}
            </td>
            <td data-label="Type">{{ attribute.type }}</td>
            <td data-label="Description">
                <div>
                    {{ attribute.description | safe }}
                    {% if not attribute.description %}
                    <p>
                        <em>No description available.</em>
                    </p>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if concept_usage %}
<h2>
    {{ concept_usage.number }} Concept usage
</h2>

<table class="striped grouped concepts">
    <thead>
        <tr>
            <th>Concept</th>
            <th>Usage</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for group in concept_usage.groups %}
        {% if group.is_inherited %}
        <tr class="group-inherited">
        {% else %}
        <tr class="group">
        {% endif %}
            <td colspan="3">
                {% if group.is_inherited %}<mark>Inherited</mark>{% endif %}
                {{ group.name }}
            </td>
        </tr>
        {% for concept in group.concepts %}
        <tr{% if group.is_inherited %} class="inherited"{% endif %}>
            <td data-label="Name">
                {% if concept.url %}
                <a href="{{ concept.url }}">{{ concept.name }}</a>
                {% else %}
                {{ concept.name }}
                {% endif %}
            </td>
            <td data-label="Usage">
                {{ concept.usage }}
            </td>
            <td data-label="Description">
                <div>
                    {{ concept.description | safe }}
                    {% if concept.applicable_relationships %}
                    <p>This concept can be applied to the following resources:</p>
                    <ul>
                    {% for relationship in concept.applicable_relationships %}
                        <li>
                            {{ relationship.name }}
                            {% if relationship.predefined_type %}
                            (only applies to <code>{{ relationship.predefined_type }})
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% if not concept.description and not concept.applicable_relationships %}
                    <p>
                        <em>No description available.</em>
                    </p>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if formal_representation %}
<h2 class="collapsed">
    {{ formal_representation.number }} Formal representation
</h2>
<pre>
{{ formal_representation.express }}
</pre>
{% endif %}
{% endblock %}
