{% extends "main.html" %}
{% block pagecontent %}

<h1>
    {{ title }}
</h1>

<ol class="referenced-list{% if is_dictionary %} dictionary{% endif %}">
    {% for item in items %}
    <li number="{{ item.number }}">
        {% if item.url %}
            <a href="{{ item.url }}">{{ item.title }}</a>
        {% elif item.title %}
            {{ item.title }}
        {% elif item.subitems %}
            {% for sub in item.subitems %}
                <a href="{{ sub.url }}">{{ sub.title }}</a>
            {% endfor %}
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endblock %}
