<html lang="en">
<head>
    <link rel="stylesheet" href="{{ base }}/assets/css/mini-default.css">
    <link rel="stylesheet" href="{{ base }}/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if is_iso %}
    <title>ISO 16739-1 Documentation</title>
    {% else %}
    <title>IFC4.3.2.0 Documentation</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{{ base }}/assets/img/favicon.ico">
    <script>window.is_iso = {% if is_iso %}true{% else %}false{% endif %};</script>
</head>
<body class="{{body_class or ''}}">
    <div class="container">
        <div class="row">
            <header>
                {% if is_iso %}
                    <p style='float: right; text-align: right'>International Organization for Standardization</p>
                    <p>ISO 16739-1:2023(E)</p>
                {% else %}
                    <p>IFC 4.3.2.0 (IFC4X3_ADD2)
                        <small>development</small>
                    </p>
                {% endif %}

                {% if not is_iso %}
                <ul>
                    <li>
                        <a href="https://github.com/buildingSMART/IFC4.3.x-development/issues/">
                            <i data-feather="message-circle"></i>
                            Help suggest improvements
                        </a>
                    </li>
                    <li>
                        <a href="https://forums.buildingsmart.org/">
                            <i data-feather="help-circle"></i>
                            Get user or developer support
                        </a>
                    </li>
                    <li>
                        <a href="#todo">
                            <i data-feather="code"></i>
                            Get started with software development
                        </a>
                    </li>
                </ul>
                {% endif %}
            </header>
        </div>
        <div class="row">
            <div class="col-md-2">
                {% if not is_iso and not is_package %}
                {% block searchbar %}
                <form method='get' action='/search' style="padding:0px;" class="search">
                    <div class="row">
                        <div class="col-md-8">
                            <input type='text' name='query' value='' placeholder="Search" class="search-input" />
                        </div>
                        <div class="col-md-4">
                            <button type='submit' value='Search' class="primary">
                                <span class="icon-search inverse"></span>
                            </button>
                        </div>
                    </div>
                </form>
                {% endblock %}
                {% endif %}
                <nav>
                    {% for section in navigation %}
                    <div>
                        {% for item in section %}
                        <a href="{{ item.url }}"{% if item.is_current %}class="current"{% endif %}>
                            {{ item.number }} {{ item.name }}
                        </a>
                        {% for subitem in item.subitems %}
                        <a class="sublink-1{% if subitem.is_current %} current{% endif %}" href="{{ subitem.url }}">
                            {{ subitem.number }} {{ subitem.name }}
                        </a>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </nav>
            </div>
            <div class="col-md-8" id="main-content">
                {% block pagecontent %}
                {% endblock %}
            </div>
            <div class="col-md-2">
                {% if not is_iso %}
                {% if path %}
                <div class="card fluid shadowed">
                    <p>
                        <a class="button primary edit-github" href='https://github.com/{{ repo or 'buildingSMART/IFC4.3.x-development' }}/blob/{{ branch }}/{{ path }}'><span class="icon-edit inverse"></span> Edit on Github</a>
                    </p>
                    <p>
                        <small>
                            <span id="contributors"></span><br />
                            <span id="last-change"></span>
                        </small>
                    </p>
                    <p>
                        <small>
                            Is this page difficult to understand? <a href="https://github.com/buildingSMART/IFC4.3.x-development/issues/371">Let us know!</a>
                        </small>
                    </p>
                </div>
                {% endif %}
                {% endif %}
                <div class="card fluid shadowed hidden" id="section-navigation">
                    <p>
                        <center><small>Jump to section</small></center>
                    </p>
                    <ol class="referenced-list small"></ol>
                </div>
                {% if changelog %}
                <div class="changelog">
                    <h3>
                        {{ changelog.number }} Changelog
                    </h3>
                    {% for section in changelog.sections %}
                    <h4>
                        {{ section.number }} {{ section.name }}
                    </h4>
                    <ul class="changelog">
                        {% for change in section.changes %}
                        <li>
                            <small>
                                {% if change.is_addition %}<i data-feather="plus-square"></i>{% endif %}
                                {% if change.is_deletion %}<i data-feather="x-square"></i>{% endif %}
                                {% if change.is_modification %}<i data-feather="edit"></i>{% endif %}
                                {% if not change.what_changed and not change.description and change.is_addition %}
                                New resource
                                {% else %}
                                {{ change.what_changed }},
                                {{ change.description }}
                                {% endif %}
                            </small>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <footer>
                <p>
                    {% if is_iso %}
                    <small>
                    ISO 16739-1:2023(E)<br>
                    Copyright &copy; ISO 2023 &mdash; All rights reserved
                    </small>
                    {% else %}
                    <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a>
                    <small>
                        Copyright &copy; 1996-2022 buildingSMART International Limited. Some rights reserved. Any technical documentation made available by buildingSMART International Limited is the copyrighted work of buildingSMART International Limited and is owned by buildingSMART International Limited. The Industry Foundation Classes are published under Creative Commons Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0). Read the <a href="https://creativecommons.org/licenses/by-nd/4.0/legalcode">full license text here</a>. For more information please refer to our <a href="https://buildingsmart-1xbd3ajdayi.netdna-ssl.com/wp-content/uploads/2021/06/bSI-Intellectual-Property-Policy.pdf">IP Policy.</a>
                    </small>
                    {% endif %}
                </p>
                <a class="button" id="back-to-top"><i data-feather="arrow-up-circle"></i></a>
            </footer>
        </div>
    </div>
    <script>
        window.appconfig = {
            'path': '{{ path }}',
            'base': '{{ base }}',
            'repo': '{{ repo or "buildingSMART/IFC4.3.x-development" }}',
        };
    </script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="{{ base }}/assets/js/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script type="text/javascript" src="{{ base }}/assets/js/app.js"></script>
</body>
</html>
