{% extends "main.html" %}
{% block pagecontent %}

<h1>{{ number }} {{ entity }}</h1>

<p>
    <aside class="aside-note">
        <mark>TRANSLATION</mark>
        <div>
            {% for lang, translation in translations.items() %}
            <div class="translation lang-{{ lang }}">
                {% set translation_labels = {
                    'definition': 'Definition:',
                    'description': 'Description:'
                } %}

                {% for key, label in translation_labels.items() %}
                    {% if translation[key] %}
                    <div>
                        <span style="color: #0277bd;">&nbsp;{{ language_icon }}</span>
                        <em style="color: black;">{{ label }}</em>
                        <span style="color: #0277bd;">&nbsp;{{ translation[key] | safe }}</span>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </aside>
</p>

<h2>
    {{ definition_number }} Semantic definition
</h2>

{{ content | safe }}

{% if applicability %}
<h2>
    {{ applicability.number }} Applicable entities
</h2>
<aside>
    <mark>{{ applicability.template_type }}</mark>
    {{ applicability.description }}
</aside>
<ul>
    {% for entity in applicability.entities %}
    <li>{{ entity }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if properties %}
<h2>
    {{ properties.number }} Properties
</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            {% if properties.is_pset %}
            <th>Property Type</th>
            {% endif %}
            <th>Data Type</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for property in properties.properties %}
        <tr>
            <td>{{ property.name }}</td>
            {% if properties.is_pset %}
            <td>{{ property.type }}</td>
            {% endif %}
            <td>{{ property.data_type }}</td>
            <td>
                {% if property.description %}
                {{ property.description | safe }}
                {% else %}
                <p>
                    <em>No description available.</em>
                </p>
                {% endif %}
            </td>
            <td><a class="button" href="{{ property.edit_url }}" style='padding:0;margin:0 0.5em'><span class='icon-edit'></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
