{% extends "main.html" %}
{% block pagecontent %}

<h1>{{ number }} {{ entity }}</h1>

    <aside class="aside-note">
        {% for lang, data in translations.items() %}
            {% if not (lang == "English" and not data.resource_translation and not data.definition and not data.description) %}
            <div class="translation lang-{{ lang|slugify }}">
                
                <div>
                    <span style="color: #0277bd;">{{ get_language_icon(lang) }}</span>
                    {% if data.resource_translation %}
                        <strong style="color:#0277bd;">{{ data.resource_translation }}</strong>
                        {% elif lang != "English" %}
                            <span>No translation yet — <a href="https://user.buildingsmart.org/knowledge-base/ifc-translations-manual/">help translate</a></span>
                    {% endif %}
                </div>

                {% if data.DEFINITION %}
                <div>
                    <div><em>{{ data.DEFINITION }}</em></div>
                </div>
                {% endif %}

                {% if data.DESCRIPTION %}
                <div>
                    <div><em>{{ data.DESCRIPTION }}</em></div>
                </div>
                {% endif %}

            </div>
            {% endif %}
        {% endfor %}
    </aside>

<h2>
    {{ definition_number }} Semantic definition
</h2>

{{ content | safe }}

{% if applicability %}
<h2>
    {{ applicability.number }} Applicable entities
</h2>
<aside>
    <mark>{{ applicability.template_type }}</mark>
    {{ applicability.description }}
</aside>
<ul>
    {% for entity in applicability.entities %}
    <li>{{ entity }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if properties %}
<h2>
    {{ properties.number }} Properties
</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            {% if properties.is_pset %}
            <th>Property Type</th>
            {% endif %}
            <th>Data Type</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for property in properties.properties %}
        <tr>
            <td>{{ property.name }}</td>
            {% if properties.is_pset %}
            <td>{{ property.type }}</td>
            {% endif %}
            <td>{{ property.data_type }}</td>
            <td>
                {% if property.description %}
                {{ property.description | safe }}
                {% else %}
                <p>
                    <em>No description available.</em>
                </p>
                {% endif %}
            </td>
            <td><a class="button" href="{{ property.edit_url }}" style='padding:0;margin:0 0.5em'><span class='icon-edit'></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
