{% extends "main.html" %}
{% block pagecontent %}

<h1>Search</h1>

<div id="search-app" class="search-app">
    <form method="get" action="{{ base }}/search.html" class="search-page-form">
        <input id="page-search-input" type="search" name="query" value="" placeholder="Search documentation" />
        <button type="submit" class="primary">Search</button>
    </form>

    <p id="search-status" class="search-status">Loading search index...</p>
    <ol id="search-results" class="search-results"></ol>
</div>

{% endblock %}

{% block pagescripts %}
<script src="{{ base }}/assets/lib/fuse/fuse.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/js/search.js"></script>
{% endblock %}
