{% extends "main.html" %}
{% block pagecontent %}

<h1>{{ number }} {{ entity }}</h1>

<p>
    <aside class="aside-note">
        <div>
            {% for lang, data in translations.items() %}
                <div class="translation lang-{{ lang }}">
            <div>
                <span style="color: #0277bd;">{{ get_language_icon(lang) }}</span> <em>Name:</em> 
                <span style="color: #0277bd;">{{ data.resource_translation}}</span>
            </div>
            {% if data.definition %}
            <div>
                <span style="color: #0277bd;">{{ get_language_icon(lang) }}</span> <em>Definition:</em> 
                <span style="color: #0277bd;">{{ data.definition }}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </aside>
</p>

<h2>
    {{ definition_number }} Semantic definition
</h2>

{{ content | safe }}

{% if type_values %}
<h2>
    {{ type_values.number }} Type values
</h2>
<table class="striped type-values">
    <thead>
        <tr>
            <th>Type</th>
            {% if type_values.has_description %}
            <th>Description</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for value in type_values.schema_values %}
        <tr>
            <td data-label="Name">
                <code>{{ value.name }}</code>
                {% for lang, translation in value.translations.items() %}
                <div class="translation lang-{{ lang }}">
                    {% if translation.resource_translation %}
                    <br>
                    <span style="color: #0277bd;">&nbsp;{{ get_language_icon(lang) }} &nbsp;{{ translation.resource_translation | safe }}</span>
                    {% endif %}
                </div>
                {% endfor %}
            </td>
            {% if type_values.has_description %}
            <td data-label="Description">
                {% if value.description %}
                    <span>{{ value.description | safe }}</span>
                {% elif value.original and value.original.description %}
                    <div>
                        <span>{{ value.original.description | safe }}</span>
                    </div>
                {% endif %}
            
                {% if value.original.definition %}
                    <div>
                        <span>{{ value.original.definition | safe }}</span>
                    </div>
                {% endif %}
            
                {% for lang, translation in value.translations.items() %}
                    <div class="translation lang-{{ lang }}">
                        {% if translation.definition %}
                            <div>
                                <span style="color: #0277bd;">{{ get_language_icon(lang) }} &nbsp;{{ translation.definition | safe }}</span>
                            </div>
                        {% endif %}
                        {% if translation.description %}
                            <div>
                                <span style="color: #0277bd; font-size: 0.9em;">{{ get_language_icon(lang) }} &nbsp;{{ translation.description | safe }}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </td>
            
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if formal_propositions %}
<h2>
    {{ formal_propositions.number }} Formal Propositions
</h2>
<table>
{% for row in formal_propositions["items"] %}
<tr>
<td>{{ row.name }}<td>{{ row.description }}<br><pre>{{ row.formal }}</pre>
</tr>
{% endfor %}
</table>
{% endif %}

{% if formal_representation %}
<h2>
    {{ formal_representation.number }} Formal representation
</h2>
<pre><code class="language-express hljs">{{ formal_representation.express }}</code></pre>
{% endif %}

{% if references %}
<h2>
    {{ references.number }} References
</h2>
<ul class="references">
    {% for reference in references.references %}
    <li><i data-feather="paperclip"></i>{{ reference }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}