{% extends "main.html" %}
{% block pagecontent %}

<h1>{{ number }} {{ entity}}</h1>

<p>
    <aside class="aside-note">
        <mark>TRANSLATION</mark>
        <div>
            <p><strong></strong> {{ translation.definition | safe}}</p>
            <p><strong></strong> {{ translation.description | safe  }}</p>
        </div>
    </aside>
</p>


<h2>
    {{ definition_number }} Semantic definition
</h2>

{{ content | safe }}

{% if type_values %}
<h2>
    {{ type_values.number }} Type values
</h2>
<table class="striped type-values">
    <thead>
        <tr>
            <th>Type</th>
            {% if type_values.has_description %}
            <th>Description</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for value in type_values.schema_values %}
        <tr>
            <td data-label="Name">
                <code>{{ value.name }}</code>
                {% if value.name_translation %}
                <br>
                <span style="color: #0277bd;">&nbsp;{{ language_icon }} &nbsp;{{ value.name_translation | safe }}</span>
                {% endif %}
            </td>
            {% if type_values.has_description %}
            <td data-label="Description">
                {% if value.description %}
                {{ value.description | safe }}
                {% if value.translated_definition %}
                <br>
                <span style="color: #0277bd;">{{ language_icon }} &nbsp;{{value.translated_definition | safe }}</span>
                {% endif %}
                {% else %}
                <p>
                    <em>No description available.</em>
                </p>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if formal_propositions %}
{# @todo remove duplication with entity.html #}
<h2>
    {{ formal_propositions.number }} Formal Propositions
</h2>
<table>
{% for row in formal_propositions["items"] %}
<tr>
<td>{{ row.name }}<td>{{ row.description }}<br><pre>{{ row.formal }}</pre>
</tr>
{% endfor %}
</table>
{% endif %}

{% if formal_representation %}
<h2>
    {{ formal_representation.number }} Formal representation
</h2>
<pre><code class="language-express hljs">{{ formal_representation.express }}</code></pre>
{% endif %}

{% if references %}
<h2>
    {{ references.number }} References
</h2>
<ul class="references">
    {% for reference in references.references %}
    <li><i data-feather="paperclip"></i>{{ reference }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
